.MainHeader {
  position: relative;
  z-index: 100;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  height: 70px;
  margin-bottom: -70px;

  padding: 0;
  padding-top: 30px !important;

  .MainHeader__menuLogo {
    margin-top: -10px;
  }

  .MainHeader__sandwich {
    margin-top: -5px !important;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
  }

  .MainHeader__menuLinks {
    font-weight: 400;
    padding-right: 20px;
    cursor: pointer;
    padding-bottom: 5px;
  }

  .MainHeader__menuTel {
    margin-top: -5px;
    padding-bottom: 5px;
  }

  .MainHeader__mobileMenuCont {
    animation-duration: 0.5s;

    .MainHeader__mobileMenu {
      z-index: 140;
    }
  }

  @media screen and(max-width: 992px) {
    .MainHeader__menuLinks {
      font-weight: 400;
      padding-right: 10px;
      font-size: 14px;
    }

    a {
      font-weight: 600;
      font-size: 16px;
    }
  }

  @media screen and(max-width:576px) {
    .MainHeader__menuLogo {
      width: 195px;
    }

    .MainHeader__menuLinks {
      padding: 0 !important;
    }
  }
}
