.Block4 {
  padding: 0;
  padding-top: 100px;
  padding-bottom: 70px;

  .Block4__cardCont {
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .Block4__title {
    h1 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 145%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #719a0a;
      padding-left: 20px;
      padding-right: 20px;

      padding-bottom: 20px;
    }    
  }

  .Block4__additional {
    .HouseCard__info {
      display: none !important;
    }
  }

  @media screen and(max-width:576px) {
    padding-top: 50px;
    padding-bottom: 50px;

    .Block4__Line {
      margin: 0 !important;
    }

    .Block4__cardCont {
      padding: 15px !important;
    }

    .Block4__additional {
      margin: 0 !important;
    }
  }
}
