.RequestForm {
  h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #666666;
    padding-bottom: 15px;
  }

  .react-datepicker-wrapper {
    .react-datepicker__input-container {
      input {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #878787;

        width: 130px !important;
        height: 40px !important;
        border: none;
        outline: none;
        text-align: center;

        &:active,
        &:target {
          border: none;
        }
      }
    }
  }

  .react-datepicker-popper {
    margin-top: 20px !important;

    .react-datepicker {
      border-radius: 0px !important;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;

      .react-datepicker__navigation--previous {
        border-right-color: #ffffff;
        outline: none;
        margin-top: 3px;
      }

      .react-datepicker__navigation--next {
        border-left-color: #ffffff;
        outline: none;
        margin-top: 3px;
      }

      .react-datepicker__day-names {
        padding-top: 5px;
      }

      .react-datepicker__current-month,
      .react-datepicker__day-name {
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
      }

      .react-datepicker__month {
        width: 250px;

        .react-datepicker__day {
          width: 2rem;
          height: 2rem;
          padding-top: 3px;

          // outline: none;
        }
      }

      .react-datepicker__triangle {
        display: none;
      }

      .react-datepicker__header {
        background-color: #719a0a;
        border-radius: 0px;
      }
    }
  }

  .formUnderTitle {
    p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      padding-top: 20px;
      margin-bottom: 0;

      color: #666666;
    }
  }

  .RequestForm__formElements {
    background-color: #ffffff;
    border-left: #719a0a 4px solid;
  }

  .RequestForm__inputFields {
    padding: 20px;
  }

  .RequestForm__button {
    height: 150px;
    background-color: #719a0a;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #ffffff;
    cursor: pointer;

    &:hover {
      filter: brightness(0.9);
    }
  }

  .RequestForm__input {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;

    p {
      font-size: 14px;
      line-height: 17px;
      color: #666666;
    }

    .inputCont {
      width: 170px;
      border-bottom: 2px solid #666666;

      .inputIcon {
        width: 50px;
        height: 40px;
        background-color: #ffd301;
        display: flex;
        align-items: center;
        justify-content: center;

        color: #ffffff;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }

      .inputField {
        width: 100%;
        .RequestForm__inputField {
          width: 100%;
          height: 40px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          border: none;
          outline: none;
          text-align: center;

          color: #878787;

          &:active,
          &:target {
            border: none;
          }
        }

        .inputValid {
          background-color: #dfff8e;
          // -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 158, 79, 1);
          // -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 158, 79, 1);
          // box-shadow: inset 0px 0px 7px 0px rgba(0, 158, 79, 1);
        }

        .inputInvalid {
          background-color: #ffbebe;
          // -webkit-box-shadow: inset 0px 0px 7px 0px rgba(134, 0, 0, 1);
          // -moz-box-shadow: inset 0px 0px 7px 0px rgba(134, 0, 0, 1);
          // box-shadow: inset 0px 0px 7px 0px rgba(134, 0, 0, 1);
        }
      }
    }
  }

  @media screen and(max-width:992px) {
    .RequestForm__input {
      padding-bottom: 20px !important;
    }

    .formUnderTitle {
      p {
        padding-top: 0;
      }
    }

    .RequestForm__button {
      height: 80px;
    }

    .inputCont {
      width: 100% !important;
    }

    .react-datepicker-wrapper {
      width: 100%!important;
      .react-datepicker__input-container {
        input {
          // width: 200px !important;
          width:100% !important;
        }
      }
    }
  }
}
