.Block5 {
  padding: 0;

  h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 145%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;

    color: #719a0a;
    margin-bottom: 30px;
  }

  .Block5__Table {
    margin-top: 30px;
    th {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 145%;
      color: #282828;
      border: none;
      vertical-align: middle;
      text-align: center;

      &:nth-child(1) {
        text-align: left;
      }

      &:nth-child(2n) {
        background-color: #fff3b8;
      }

      &:nth-child(2n + 1) {
        background-color: #f7eec4;
      }
    }

    td {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 145%;
      border: none;
      vertical-align: middle;
      color: #282828;

      &:nth-child(2n) {
        background-color: #fffbe6;
      }

      &:nth-child(2n + 1) {
        background-color: #f5f5f5;
      }
    }

    .Block5__tr {
      &:hover {
        td {
          background-color: #faeeb5;
        }
      }
    }
  }

  .Block5__serviceMenu {
    margin-bottom: 30px;
    .Block5__serviceMenuEl {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 145%;
      color: #666666;
      opacity: 0.5;
      cursor: pointer;
      transition: all ease-in-out 0.3s;
      padding: 5px;
      padding-left: 20px;
      padding-right: 20px;

      margin-right: 30px;

      &:hover {
        color: #ac754c;
        opacity: 1;
      }
    }

    .isActive {
      color: #ac754c;
      text-decoration: underline;
      opacity: 1;
    }
  }

  /* полоса прокрутки (скроллбар) */
  ::-webkit-scrollbar {
    width: 24px; /* ширина для вертикального скролла */
    height: 15px; /* высота для горизонтального скролла */
    background-color: #faeeb5;
  }

  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    background-color: #719a0a;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #5f8208;
  }

  /* Стрелки */

  ::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
  }

  @media screen and(max-width: 576px) {
    .Block5__Table {
      th {
        &:nth-child(1) {
          width: 200px !important;
        }
      }
    }
  }
}
