.GalleryModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .GalleryModal__body {
    border-radius: 10px 10px 0 10px;
    background-color: #ffffff !important;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .GalleryModal__closeBtn {
    width: 45px;
    height: 45px;
    background-color: #727272;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
    border-radius: 50%;
    cursor: pointer;

    margin-top: -60px;
    // z-index: 1001;

    &:hover {
      background-color: #000000;
    }
  }

  .GalleryModal__Content {
    img {
      width: 400px !important;
    }
  }

  @media screen and(max-width: 1200px) {
  }

  @media screen and(max-width: 992px) {
  }

  @media screen and(max-width: 768px) {
    .GalleryModal__Content {
      img {
        width: 320px !important;
      }
    }
  }

  @media screen and(max-width: 576px) {
    .GalleryModalBody__ContentCont {
      padding: 20px !important;
      padding-top: 30px !important;
      padding-bottom: 30px !important;

      .GalleryModalBody__Content {
        text-align: center;

        h3 {
          font-size: 22px !important;
        }
        h1 {
          font-size: 32px !important;
        }
      }
    }
  }
}
