.ProgramCard {
  margin-top: 100px;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #faeeb5;

  .ProgramCard__Cont {
    padding: 0;
    @media screen and(max-width: 576px) {
      // padding-left: 20px;
      // padding-right: 20px;
    }
  }

  h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 145%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #719a0a;
    padding-bottom: 50px;

    @media screen and(max-width: 576px) {
      font-size: 18px;
    }
  }

  h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 145%;
    color: #282828;
    padding-bottom: 30px;
  }

  .ProgramCard__prElTime {
    width: 20%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 145%;
    color: #719a0a;

    @media screen and(max-width: 576px) {
      width: 100%;
    }
  }

  .ProgramCard__prElTitles {
    width: 80%;

    @media screen and(max-width: 576px) {
      width: 100%;
    }
  }

  .ProgramCard__prElTitleName {
    padding-bottom: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 145%;
    color: #282828;

    img {
      margin-right: 10px;
    }
  }

  .ProgramCard__prEl {
    padding-bottom: 30px;
  }

  .ProgramCard__right {
    padding-left: 30px;
    @media screen and(max-width: 768px) {
      padding: 0;
    }

    .ProgramCard__priceEl {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 145%;

      background: #ffffff;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      padding: 15px;
      padding-left: 45px;
      padding-right: 45px;

      .green {
        color: #719a0a;
      }

      .black {
        color: #282828;
      }

      @media screen and(max-width: 576px) {
        text-align: center;
        // font-size: 16px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
